<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Rails Routes practice app</title>
  </head>
  <body>
    <div class="container" id="routes_table">
      <form action="/" method="post">
        <h1>Rails Routes practice app</h1>
        <label for="routes_table_text">
          Enter one or more routes (such as you would put
          into <tt>config/routes.rb</tt>) separated by newlines. 
        </label>
        <br/>
        <textarea rows="6" cols="80" id="routes_table_text" name="routes_table_text"><%= @routes -%></textarea>
    </div>

    <% if @result %>
    <div class="container" id="result">
      <% if @result.error %>
      <p class="alert alert-danger"> 
        <code><%= @result.route %></code> <%= @result.error %>
      </p>
      <% else %>
      <p>The route <code><%= @result.route %></code> parses to:</p>
      <dl class="row">
        <dt class="col-sm-3"> Controller</dt>
        <dd class="col-sm-9"><code><%= @result.controller %></code> </dd>
        <dt class="col-sm-3"> Action</dt>
        <dd class="col-sm-9"><code><%= @result.action %></code> </dd>
        <dt class="col-sm-3"> Params</dt> 
        <dd class="col-sm-9"><code><%= @result.params.inspect %></code> </dd>
        <% if @is_post %>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9">(Since this URL would usually be used to post a
          form, <code>params</code> would also have a key for each
          named form field whose value is the value of that field.)</dd>
        <% end %>
      </dl>
      <% end %>
    </div>
    <% end %>

    <div class="container" id="route">
      <p>Enter a route (HTTP verb + URI) to see how it would be
        interpreted relative to the routes above.</p>
      <select name="route_method" id="route_method">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="PATCH">PATCH</option>
        <option value="DELETE">DELETE</option>
      </select>
      <input type="text" size="40" name="route_uri" id="route_uri" value="/"/>
      <input type="submit" class="btn btn-primary" value="Parse Route"/>
    </form>
    <div class="bg-light text-center p-2 m-2">
      Details: read the latest <a target="_blank" href="https://guides.rubyonrails.org/routing.html">Rails Routing Documentation</a>.
      <br/>
      Written by Armando Fox for <a href="http://www.saasbook.info">ESaaS</a>.
      Peruse the <a href="https://github.com/saasbook/rails-routing-practice">code</a> on GitHub.
    </div>
    </div>
  </body>
</html>

